<<<<<<< HEAD
html{
    background-color: black;
   

}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.image{
    border: 5px solid white;
    width: 100%;
}
.poster{
width: 50%;
margin-left: 25%;
margin-top: 100px;
color: white;
font-family: "Libre Baskerville", serif;
text-align: center
=======
html{
    background-color: black;
   

}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.image{
    border: 5px solid white;
    width: 100%;
}
.poster{
width: 50%;
margin-left: 25%;
margin-top: 100px;
color: white;
font-family: "Libre Baskerville", serif;
text-align: center
>>>>>>> 57811695bdef667eb7a096f76938f35dcaf9c958
}